#blog{
    margin: 5%; 
    text-align: center; 
    font-family: 'Lobster', cursive;
}
.home {
    background-image: url("../static/images/home.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

  }
  .panel{
      box-shadow: 0 4px 8px 0 rgba(202, 33, 33, 0.2);
      transition: 0.3s;
  
  }

  #img{
    background-image: url(../static/photos/bg1.jpeg);
    background-repeat: no-repeat; 
    background-size: contain;
    height: 80vh; 
    background-position: center;

  }